.calc {
    display: flex;
    width: 600pxs;
    justify-content: space-around;
    background-color: coral;
}

.display {
    width: 160px;

    justify-content: center;
    border-style: solid 20px;
    background-color: brown;
}

.btn {
    width: 60px;

    justify-content: center;
    border-style: solid 1px;
}

.btn-txt {

    justify-self: center;
}

#enter {

    width: auto;

}