.display {
    width: 160px;

    justify-content: center;
    border-style: solid 20px;
    background-color: lightgreen;
}


.btn {
    color: aliceblue;
}

.btn-txt {
    text-align: center;
    display: inline-block;
    justify-content: center;
}

#enter {

    display: inline-flex;
    justify-self: center;
    width: auto;

}